*{
box-sizing: border-box;
padding: 0;
margin: 0;

}

main {
width: auto;
height: 1010px;
border: 1.5pc solid #182b4c;
padding: 20px 20px 80s0px;
}

h1 {
color: #2e8894;
}


.Box {
display: block;
margin: auto;


}


#one {
display: inline-block;
background-color: #84b9cf;
margin: 30px;
width: 365px;
height: 450px;
}

#two {
   
display: inline-block;
background-color: #84b9cf;
margin: 20px;
width: 365px;
height: 450px;
    }

 #three {
    
display: inline-block;
background-color: #84b9cf;
margin: 20px;
width: 365px;
height: 450px;
}

.block_coffeeteria {

    background-color: #6ea66a;
    margin: 5px;
    padding: 20px;

}